<h1>All Bloggers</h1>
<br>
<%@bloggers.each do |blogger|%>

<ul>
<h3><%=link_to(blogger.name, blogger)%></h3> </th>

<li><b>Age: </b> <%=blogger.age%></li>
<li><b>Bio: </b> <%=blogger.bio%></li>
<hr>
</ul>
<%end%>
